* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Source Sans Pro", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    color: #414f57;
    background: linear-gradient(0.25turn, #fba8ff, #ebf8e1, #9dfcb6);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

footer {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 17.5px;
    color: white;
    position: absolute;
    bottom: 0;
}
div.head section.header img {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    border-radius: 150px;
    padding: 10px;
}

div.head section.header h1{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 150px;

}

div.main {
    font-family: 'Patrick Hand SC', cursive;
    width: 400px;
    background: rgb(122, 122, 122, 20%);
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    padding: 35px 15px;
    display: inline-block;
    margin-top: calc(((100vh - 650px) / 2));
}

div.main section.photo img {
    height: 225px;
}
div.main section.info {
    height: 115px;
}
div.main section.info h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
div.main section.header img{
    border-radius: 150px;
}
div.main section.links {
    height: 100px;
    padding-top: 37.5px;
    padding-bottom: 12.5px;
    box-sizing: border-box;
}
div.main section.links a {
    height: 50px;
    text-decoration: none;
    display: inline-block;
    margin: 0 7.5px;
}
div.main section.links a svg {
    height: 50px;
    width: auto;
}
div.main section.links a svg path {
    fill: rgb(242, 0, 255);
    transition: fill 0.25s ease;
}
div.main section.links a:hover svg path {
    fill: #fba8ff;
}

@media only screen and (max-width: 444.44px) {
    div.body {
        width: 90%;
    }
}
@media only screen and (max-height: 653.88px) and (max-width: 444.44px) {
    div.body {
        margin: 5vw 0;
        margin-bottom: 0;
    }
    footer {
        position: relative;
    }
}